<div>
  <%= form_tag('/view', :method => 'get', remote: true) do %>
      <%= label_tag('Введите начало последовательности') %>
      <%= text_field_tag :a %><br>
      <%= label_tag('Введите конец последовательности') %>
      <%= text_field_tag :b %><br>
      <%= submit_tag('Поиск') %>
  <% end %>
</div>
<div id="tableresult"></div>
